<div class="navbar">
  <a href="loginpage\index.html">
    <div class="frame-25">
      <img class="user" src="img/User.png" />
      <div class="text56">Add Property</div>
    </div>
  </a>
  <img class="kfi-j" src="img/-kFI8-j-Rb64Pw1WtPrGoQ 1-1.png" />
<a href="/"><div class="text57">Home</div></a>
  <div class="text58">Explore</div>
  <div class="text61">Why Us</div>
  <div class="text62">Contact</div>
</div>
