      <link rel="stylesheet" href="/css/style.css">
    <body>
    <div class="element-page">
      <div class="element-1st-page">
        <div class="overlap">
          <p class="heading"></p>
          <p class="text12"></p>
          <p class="text13"></p>
          <div class="frame-3">
            <div class="text11"><input type="text" class="searchbar" placeholder="Name,Keywords..."></div>
            <img class="search-2" src="img/Search.png" />
          </div>
          <div class="frame-4">
            <img class="haunted-house" src="" />
            <a href="/page1"><div class="text14">Modern Villa</div></a>
          </div>
          <div class="frame-5">
            <img class="city-buildings" src="" />
            <a href="/page2"><div class="text14">Apartments</div></a>
          </div>
          <div class="frame-6">
            <img class="real-estate" src="" />
            <a href="/page3"><div class="text14">Town House</div></a>
          </div>
          <div class="frame-others">
            <img class="house" src="" />
            <a href="/page4"><div class="text15">Other Projects</div></a>
          </div>
        </div>
        <div class="explore-cities">
          <div class="frame" id="frame-section"><div class="text">Explore Popular Cities</div></div>
          <div class="overlap-group">
            <a href="/gurugram"><div class="group">
              <img class=" img" src="img/image-6.png" />
            </a>
              <div class="div">Gurugram</div>
              <div class="text2">5 Properties</div>
            </div>
            <a href="/faridabad"><div class="group-2">
              <img class="img" src="img/image-7.png" />
            </a>
              <div class="text3">Faridabad</div>
              <div class="text4">3 Properties</div>
            </div>
            <a href="/sonipat"><div class="group-3">
              <img class="img" src="img/image-8.png" />
            </a>
              <div class="text5">Sonipat</div>
              <div class="text6">3 Properties</div>
            </div>
            <a href="/rewari"><div class="group-4">
              <img class="img" src="img/image-9.png" />
            </a><div class="text7">Rewari</div>
              <div class="text8">2 Properties</div>
            </div>
            <a href="/dharuhera"><div class="group-5">
              <img class="img" src="img/image.png" />
            </a>
              <div class="text9">Dharuhera</div>
              <div class="text10">1 Property</div>
            </div>
          </div>
          <div class="frame-2">
            <input class="searchbar" type="text" placeholder="Search for a specific city"></input>
            <img class="search" src="img/Search.png" />
          </div>
        </div>
        <div class="overlap-2">
          <div class="why-us">
            <div id="div1" class="div-wrapper"><div class="text16">Why Choose Us?</div></div>
            <div class="frame-7">
              <div class="text17"></div>
              <img class="downtown" src="" />
              <p class="we-sell-different"></p>
            </div>
            <div class="frame-8">
              <div class="text18">Trustworthy</div>
              <img class="handshake" src="" />
              <p class="text19"></p>
            </div>
            <div class="frame-9">
              <div class="text20">Buy or Rent Homes</div>
              <img class="img-2" src="" />
              <p class="we-sell-your-homes"></p>
            </div>
            <div class="frame-10">
              <div class="text17">Experienced Agents</div>
              <img class="img-2" src="img/Batch Assign.png" />
              <p class="experienced-agents"></p>
            </div>
            <img class="line" src="" />
            <img class="line-2" src="" />
            <p class="text21">See what our customers are saying about us:</p>
            <div class="overlap-3">
              <p class="text22"></p>
              <div class="text23">Business Man</div>
              <div class="text24">Mr. Srivastava</div>
              <img class="image-3" src="" />
              <img class="quote-left" src="img/Quote Left.png" />
              <div class="back-wrapper"><img class="back" src="img/Back-1.png" /></div>
              <div class="img-wrapper"><img class="back" src="img/Back.png" /></div>
            </div>
            <p class="text25"></p>
            <div class="overlap-4">
              <div class="text26">10K+</div>
              <div class="text27">Happy People</div>
            </div>
            <div class="overlap-5">
              <div class="text28">Overall Rating</div>
              <div class="text29">4 Stars</div>
            </div>
            <img class="star" src="" />
            <img class="star-2" src="" />
            <img class="star-3" src="" />
            <img class="star-4" src="" />
            <p class="text30"></p>
            <img class="image-4" src="" />
            <img class="image-5" src="" />
            <img class="image-6" src="" />
            <img class="image-7" src="" />
            <img class="image-8" src="" />
          </div>
          <div class="ending">
            <div class="text31">Subscribe</div>
            <div class="overlap-6">
              <img class="qr-code" src="" />
              <div class="text32">Buy Me A Coffee</div>
            </div>
            <img class="j" src="img/-kFI8-j-Rb64Pw1WtPrGoQ 1.png" />
            <div class="text33">Follow Us</div>
            <div class="overlap-7">
              <div class="text34">Your email..</div>
              <div class="overlap-group-2"><div class="text35">Send</div></div>
            </div>
            <p class="text36">Subscribe to our channel to get our weekly feed</p>
            <div class="text37">Get the App</div>
            <div class="overlap-8">
              <img class="apple-logo" src="" />
              <img class="line-3" src="img/Line 1.png" />
              <div class="text38">Apple Store</div>
            </div>
            <div class="overlap-9">
              <div class="text39">Play Store</div>
              <img class="google-play" src="" />
              <img class="line-4" src="img/Line 2.png" />
            </div>
            <div class="text40">Contact Us</div>
            <div class="text41">Our Address</div>
            <div class="text42">+6865785578</div>
            <div class="text43">+6865785578</div>
            <img class="facebook" src="" />
            <img class="twitter" src="" />
            <img class="instagram" src="" />
            <img class="linked-in" src="" />
            <div class="sector-gurugram">Sector 54 Gurugram,<br />Haryana</div>
            <div class="copyright-wrapper">
            </div>
          </div>
        </div>

      </div>
    </div>

  <script src="/js/script.js"></script>
</body>