
  <link rel="stylesheet" href="/css/page1.css"> <!-- Correct path to CSS -->

<div class="modern-villa">
  <div class="div">
    <div class="group">
      <div class="overlap-group">
        <div class="rectangle"></div>
        <div class="text-wrapper">9</div>
        <div class="text2"></div>
        <div class="text3"></div>
        <div class="text4"></div>
        <img class="empty-bed" src="" />
        <img class="bathtub" src="" />
        <img class="layers" src="" />
        <div class="text5"></div>
        <img class="place-marker" src="" />
      </div>
    </div>
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="rectangle-2"></div>
        <div class="text6"></div>
        <div class="text7"></div>
        <img class="img" src="" />
        <img class="bathtub-2" src="" />
        <img class="layers-2" src="" />
        <div class="text8"></div>
        <div class="text9"></div>
        <div class="text10"></div>
        <img class="place-marker-2" src="" />
      </div>
    </div>
    <div class="overlap-group-wrapper">
      <div class="overlap-2">
        <div class="rectangle"></div>
        <div class="text11"></div>
        <div class="text12"></div>
        <div class="text13"></div>
        <div class="text5">Akay Villas</div>
        <img class="empty-bed-2" src="" />
        <img class="bathtub-3" src="" />
        <img class="layers-3" src="" />
        <div class="text14"></div>
        <img class="place-marker-3" src="" />
      </div>
    </div>
    <footer class="footer">
      <div class="text15"></div>
      <img class="j" src="" />
      <div class="text16"></div>
      <div class="overlap-3">
        <div class="text17">Your email..</div>
        <div class="div-wrapper"><div class="text18">Send</div></div>
      </div>
      <p class="p">Subscribe to our channel to get our weekly feed</p>
      <div class="text19"></div>
      <div class="text20"></div>
      <div class="text21"></div>
      <div class="text22"></div>
      <div class="overlap-4">
        <img class="facebook" src="" /> 
        <img class="twitter" src="" />
      </div>
      <img class="instagram" src="" />
      <img class="linked-in" src="" />
      <div class="sector-gurugram"></div>
      <div class="frame">
        <p class="copyright"></p>
      </div>
    </footer>
    <div class="overlap-5">
      <img class="bgimage" src="" />
      <p class="text23">Unlocking doors to better living with KAY HOMES</p>
      <p class="text24">Let us guide your home</p>
      <p class="text25">Search properties for sale and to rent</p>
      <div class="frame-2">
        <div class="text26">Name,Keywords...</div>
        <img class="search" src="img/Search.png" />
      </div>
      <div class="frame-4"><div class="text34">Apartments</div></div>
    </div>
  </div>
</div>

  <script src="/js/page1.js"></script> 
</body>
</html>
